<body>
  <h1>Administratoriaus prisijungimas</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(:session, url: admin_path) do |f| %>
        <%= f.label "Slaptažodis" %>
        <%= f.password_field :password, class: 'form-control' %>
        <%= f.submit "Prisijungti", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</body>
