<body>
<h1>Kontaktai</h1>
<article>
<h4><%= link_to "Tomas Žukauskas",
"https://www.facebook.com/tomas.zukauskas.735", target: :_bank %></h4>
  <p> El. paštas: zukausk.tomas@gmail.com<p>
  <p>Mobilusis numeris: +370 60434204</p>
</article>
</body>
