<h1><strong>Sveiki atvykę</strong></h1>
<div id="homelogo">
<%= link_to image_tag('Logo.jpg'), gallery_path %>
<%= link_to "Galerija", gallery_url, class: "btn btn-lg btn-default", id: "button" %>
</div>
