<nav class="navbar">
  <div class="container-fluid">
    <ul class="nav navbar-left" id="buttons">
      <li><%= link_to "Naujienos", gallery_url, class: 'btn btn-default' %></li>
      <li><%= link_to "Peteliškės", peteliskes_url, class: 'btn btn-default' %></li>
      <li><%= link_to "Kaspinėliai plaukams", kaspineliai_plaukams_url, class: 'btn btn-default' %></li>
      <li><%= link_to "Medžiagos", medziagos_url, class: 'btn btn-default' %></li>
    </ul>
  </div>
</nav>
