<body>
<div class="container">
  <% if logged_in? %>
    <span class="post_form">
      <%= render 'posts/post_form' %>
    </span>
  <% end %>
  <div id="feed" class="wrapper">
    <% if @posts.any? %>
      <%= render @post_feed %>
    <% else %>
      <p>No posts yet</p>
    <% end %>
  </div>
</div>
<%= will_paginate @post_feed, :previous_label => '<', :next_label => '>' %>
</body>
