<%= form_for(@post) do |f| %>
    <%= render 'pages/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_area :content, placeholder: "Aprašykite peteliškę" %>
    </div>
    <div class="field">
      <%= f.text_area :price, placeholder: "Įrašykite kainą" %>
    </div>
    <span class="picture">
      <%= f.label "Nuotrauka:" %>
      <%= f.file_field :picture %>
    </span>
    <strong>Pasirinkite tipą:</strong>
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-default ">
        <input type="radio" value='pete' name="post[purpose]" > Peteliškė
      </label>
      <label class="btn btn-default">
        <input type="radio" value='kasp' name="post[purpose]" > Kaspinėlis plaukams
      </label>
      <label class="btn btn-default">
        <input type="radio" value="med" name="post[purpose]" > Medžiaga
      </label>
    </div>
    <div class="submit">
    <%= f.submit "Talpinti", class: "btn btn-primary" %>
  </div>
<% end %>
