<h1>Tvarkymas</h1>
<div class="row">
  <aside class="col-md-4">
      <span class="post_form">
        <% if logged_in? %>
        <%= render 'posts/post_form' %>
        <% end %>
      </span>
  </aside>
</div>
