<body class="show">
  <h1>Peteliškės narvelis</h1>
  <div class="container">
  <div id="show">
    <!-- .to_s is one solution among others to avoid errors if there is no imageny -->
      <%= image_tag @post.picture.url.to_s %>
  </div>
  <div>
    <% if logged_in? %>
      <%= link_to "Ištrinti", @post, method: :delete,
      data: { confirm: "Are you sure?"} %> |
      <%= link_to "Taisyti", edit_post_path(@post) %>
    <% end %>
  </div>
  <section id="information">
  <div class="about">
    <%= simple_format(@post.content) %>
  </div>
  <div>
    <%= @post.price %>
  </div>
</section>
    <ul class="pager">
      <li class="next" id="next">
      <% if @post.next %>
        <%= link_to ">", @post.next %>
        <% end %>
      </li>
        <li class="previous" id="previous">
          <% if @post.previous %>
          <%= link_to "<", @post.previous %>
          <% end %>
        </li>
    </ul>
  </div>
</body>
