@import "bootstrap-sprockets";
@import "bootstrap";



/* universal */

body {
  margin: 0;
  padding-top: 60px;
  text-align: center;
  overflow: auto;
  flex-wrap: wrap;
  .container {
    margin-left: 85px;
    width: auto;
  }
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    .box {
      text-align: center;
      justify-content: space-between;
	    flex-direction: column;
      flex: 1 1 0;
	    height: 250px;
      width: 250px;
      white-space: nowrap;
      margin-top: auto;
      .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
      img{
        max-width: 250px;
        max-height: 250px;
        padding: 2px;
        vertical-align: middle;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}


.about {
  color: #777777;
  padding-top: 5px;
  padding-bottom: 5px;
}

textarea {
  resize: vertical;
}

p {
  font-size: 1.1em;
  line-height: 1em;
}

/* posts */
#information {
  margin-left: 20px;
}

.submit {
  padding-top: 20px;
  padding-bottom: 10px;
}

.post_form {
  padding: 5px;
}

.content {
  padding-bottom: 1px;
  border-bottom: solid 1px lightgrey;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #EF9695;
    text-decoration: none;
  }
}

#navig {
  &:hover {
   color: #EF9695;
 }
}

/* footer */

footer {
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  z-index: 1000;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
  /* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

#button {
  border: none;
  border-radius:40px 0px 0px 40px;
  opacity: 0.8;
  transition: 0.5s;
  &:after {
    padding-left: 5px;
    content: '\00bb';
    position: absolute;
    opacity: 0;
  }
  @keyframes blink {
    0%{background-color: none;}
    55%{background-color: #98CECE;}
    100%{background-color: none;}
  }
  animation-name: blink;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  &:hover {
    padding-right: 25px;
    background-color: #98CECE;
    animation-play-state: paused;
    &:after {
      opacity: 1;
    }
  }
}

#show {
  img {
    max-width: 500px;
    max-height: 500px;
    position: static;
    margin-bottom: 20px;
    margin-left: 20px;
  }
}

#homelogo {
  max-width: auto;
  max-height: auto;
}


/* all pages */
.center {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  margin-left: 100px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: gray-medium-light;
}

article {
  margin-left: 100px;
}


/*  error forms */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.alert-danger {
  margin-left: 100px;
}

.alert-success {
  margin-left: 100px;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

#buttons {
    margin: 0;
    list-style-type: none;
    padding: 0;
    width: auto;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    li {
      display: block;
      color: #000;
      padding: 8px 16px;
      text-decoration: none;
      a {
        border-radius:0px 40px 40px 0px;
      }
    }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
 .label {
   display: inline;
   color: black;
   font-size: 1em;
 }

  .btn-default {
   outline: none !important;
 }

 /* previous/next */


#next {
  right: 80px;
  bottom: 80px;
  position: absolute;
  float: right;
  width: 60%;
  display:inline;
  font-size: 5em;
  a {
    border-radius:0px 40px 40px 40px;
    color: black;
  }
}

#previous {
  left: 150px;
  bottom: 80px;
  position: absolute;
  font-size: 5em;
  a {
    border-radius:40px 0px 40px 40px;
    margin-left: 115px;
    color: black;
  }
}

.pagination {
  font-size: 1.4em;
  .disabled {
    display: none;
  }
  ul.pagination {
    li a{
      border-radius:40px 40px 40px 0px;
      color: black;
    }
    li.active a {
    background-color: #98CECE;
    color: white;
    border-color: #98CECE;
    }
  }
}
