<footer class="footer">
  <small>
    <%= link_to "Peteliškių namai Facebook",
                "https://www.facebook.com/peteliskiunamaii",
                target: :_bank %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Kontaktai", contact_url %></li>
    </ul>
  </nav>
</footer>
