<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Peteliškių namai", root_url, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>
            <li><%= link_to "Atsijungti", logout_path, id: "navig" %></li>
            <% else %>
            <li><%= link_to "Administratoriaus priėjimas", admin_path, id: "navig" %></li>
            <% end %>
      </ul>
    </nav>
  </div>
</header>
