<!DOCTYPE html>
<html>
  <head>
    <title>Peteliskiu namai</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/header' %>
    <% unless action_name == "home" || action_name == "new" %>
    <div>
      <%= render 'gallery/buttons' %>
    </div>
    <% end %>
  </head>
  
  <body>
    <div class="container">
      <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
